@media screen and (max-width:1680px){

}/*max-width:1680px*/
@media screen and (max-width:1440px){
	.single-about-img img {max-width:100%;}
	.single-about-img:before,.about-list-icon{width: 100%;}
	.cftextbox p{font-size: 15px;}
}/*max-width:1440px*/

@media screen and (max-width:1199px){
	nav.navbar.bootsnav ul.nav > li > a { padding: 35px 8px;}
	.about{padding-bottom: 0px;}
	.welcome-hero {height: 768px;}
	.collections-row{
		height: 359px;
	}

	.timeline-content span>i, .experience-time span>i {left: -15.5%;}
}/*max-width:1199px*/

@media screen and (max-width:1024px){


}/*max-width:1024px*/

@media screen and (max-width:1008px){
	nav.navbar.bootsnav ul.nav > li.dropdown span.megamenu-title  {display:block;color: #43465d;font-size: 18px;}
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li .megamenu-sub-title a {margin-top: 20px;font-size: 14px;}
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li .megamenu-sub-txt a{margin-bottom: 15px;}
}/*max-width:1008px*/

@media screen and (max-width:992px){
	nav.navbar.bootsnav .navbar-collapse.collapse.in {padding-bottom: 30px;}
	nav.navbar.bootsnav .navbar-toggle {display: inline-block; float: right ;margin-right: 0;margin-top: 21px;}
	nav.navbar.bootsnav .navbar-brand {float: left!important;}
	nav.navbar.bootsnav ul.nav > li > a {padding: 15px 0px;border: transparent;}
	
}/*max-width:992px*/

@media screen and (max-width:991px){
	.single-about-img{height:334px; top: 25%;}
	.single-about-img img{height:302px}
	.collections-row{
		height:278px ;
	}
}/*max-width:991px*/

@media screen and (max-width:768px){
    
}/*max-width:768px*/

@media screen and (max-width:767px){
	/* .single-about-img {max-width: 450px;}
	.single-about-img img{height:468px} */
	
	.single-about-img{height:334px; top: 0px;}
	.single-about-img img{height:302px}
	.about-content{padding-bottom: 0px;}
	.isotope .item {max-width: 350px;margin: 0 auto 30px;}

	/* .single-profile {max-width: 350px; margin: 30px auto;border: 0;} */
	.profile-border{border: 0;}

	.single-horizontal-timeline {max-width: 350px;margin: 30px auto;}

	.collections-row{
		width: 660px;
		height: 244px;
		margin-left: auto;
    	margin-right: auto;
	}

}/*max-width:767px*/

@media screen and (max-width: 660px){
	.collections-row{
		width: 640px;
		height: 237px;
		margin-left: auto;
    	margin-right: auto;
	}
}/*max-width:660px*/

@media screen and (max-width: 640px){
	.collections-row{
		width: 580px;
		height: 215px;
		margin-left: auto;
    	margin-right: auto;
	}
}/*max-width:640px*/

@media screen and (max-width: 580px){
	.collections-row{
		width: 540px;
		height: 200px;
		margin-left: auto;
    	margin-right: auto;
	}
}/*max-width:580px*/

@media screen and (max-width: 540px){
	.subscribe-title h2 {font-size: 24px;}
	.collections-row{
		width: 480px;
		height: 178px;
		margin-left: auto;
    	margin-right: auto;
	}
}/*max-width:540px*/

@media screen and (max-width: 480px){
	.collections-row{
		width: 400px;
		height: 148px;
		margin-left: auto;
    	margin-right: auto;
	}
}/*max-width:480px*/

@media screen and (max-width: 400px){
	.col-sm-5{
		max-width: 96%;
	}
	.collections-row{
		width: 350px;
		height: 130px;
		margin-left: auto;
    	margin-right: auto;
	}
}/*max-width:400px*/

@media screen and (max-width:350px){
	.collections-row{
		width: 320px;
		height: 119px;
		margin-left: auto;
    	margin-right: auto;
	}
}/*max-width:350px*/

@media screen and  (max-width: 320px){
	
}/*max-width:320px*/

