





@media screen and (max-width:1680px){
	

}/*max-width:1680px*/
@media screen and (max-width:1440px){
	.single-about-img img {max-width:100%;}
	.single-about-img:before,.about-list-icon{width: 100%;}
	.cftextbox p{font-size: 15px;}
}/*max-width:1440px*/

@media screen and (max-width:1286px){

	.cftextbox{
		padding-top: 50px;
		
	}
	.cftextbox p{
		line-height: 2.2;
	}
}

@media screen and (max-width:1199px){
	nav.navbar.bootsnav ul.nav > li > a { padding: 35px 8px;}
	.about{padding-bottom: 0px;}
	.welcome-hero {height: 768px;}
	.collections-row{
		height: 359px;
	}
/* #halfsize{
	height: 180px;
} */
	.collections-row h3{
		padding-top: 0%;
		padding-bottom: 0%;
		font-size: 25px;
	}

	.timeline-content span>i, .experience-time span>i {left: -15.5%;}
}/*max-width:1199px*/

@media screen and (max-width:1024px){

	
	.cftextbox p{
		line-height: 2 ;
		padding-top:90px;


	}

	.designcolumn {
	
		max-width: 50%;
	}

}/*max-width:1024px*/

@media screen and (max-width:1008px){
	nav.navbar.bootsnav ul.nav > li.dropdown span.megamenu-title  {display:block;color: #43465d;font-size: 18px;}
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li .megamenu-sub-title a {margin-top: 20px;font-size: 14px;}
	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li .megamenu-sub-txt a{margin-bottom: 15px;}
}/*max-width:1008px*/


@media screen and (max-width:992px){
	nav.navbar.bootsnav .navbar-collapse.collapse.in {padding-bottom: 30px;}
	/* nav.navbar.bootsnav .navbar-toggle {display: inline-block; float: right ;margin-right: 0;margin-top: 21px;} */
	nav.navbar.bootsnav .navbar-toggle {display: inline-block;  ;margin-right: 0;margin-top: 21px;}
	nav.navbar.bootsnav .navbar-brand {float: left!important;}
	nav.navbar.bootsnav ul.nav > li > a {padding: 15px 0px;border: transparent;}

	

	
	.designcolumn{  
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;}
		
		.cftextbox{
			padding-top: 0;
			
		}
		
		.cftextbox p{
			line-height: 3;
			font-size: 16px;
			padding-top: 0px;
			
		}
		
		.custom-content{
			background:url(../images/about/designm.png)no-repeat;
			background-size: cover;
			background-position: center;
		}
		
		
		
	}/*max-width:992px*/





/* Collections Grid and Slide for desktop and mobile */
	
	@media screen and (min-width: 992px) {
		/* #CollectionRows {
		  display: block;
		} */

		#CollectionSlides{
			display:none;
		} 

		.Collections-content{
			padding-bottom: 30px;
		}

		


	  }
	  
	  @media screen and (max-width: 992px) {
		/* #CollectionRows {
		  display: none;
		  padding-bottom:30px;
		}  */

		
		.Collections-content{
			padding-bottom: 30px;
		}


		
		
		#CollectionSlides{
			display:block;
		}   
		.collections-row h3{font-size: 20px; 
			padding-top: 0%;
			padding-bottom: 23px;
		}

	  }


/* End of Collections Grid and Slide for desktop and mobile */

/* Archive Carousel */

	  @media screen and (min-width: 1600px) {
		

		#myCarousel2{
			display: none;
		}

		#myCarousel1{
			display:block;
		}


	  }
	  


	  @media screen and (max-width: 1600px) {
		

		#myCarousel2{
			display:block;
		}

		#myCarousel1{
			display:none;	
		}


	  }
	


/* Archive Carousel end */



	@media screen and (max-width:991px){
		.single-about-img{height:334px; top: 25%;}
		.single-about-img img{height:302px}
		.collections-row{
			height:278px ;
		}
		
		/* #halfsize{
			height: 139px;
		} */
		
		
		
	}/*max-width:991px*/
	
	@media screen and (max-width:922px) {

		.carousel-caption2 p{
			font-size: 16px;
			font-weight: 400;
		}
		.carousel-caption2 h3{
			font-size: 41px;
			font-weight: 400;
		}
		.collections-row h3{
			padding-top: 0%;
			padding-bottom: 22px;
		}
}


@media screen and (max-width:768px){
    
}/*max-width:768px*/

@media screen and (max-width:767px){
	/* .single-about-img {max-width: 450px;}
	.single-about-img img{height:468px} */
	
	.single-about-img{height:334px; top: 0px;}
	.single-about-img img{height:302px}
	.about-content{padding-bottom: 0px;padding-top: 30px;}
	.isotope .item {max-width: 350px;margin: 0 auto 30px;}


	/* .single-profile {max-width: 350px; margin: 30px auto;border: 0;} */
	.profile-border{border: 0;}

	.single-horizontal-timeline {max-width: 350px;margin: 30px auto;}

	.collections-row{
		width: 660px;
		height: 1000px;
		margin-left: auto;
    	margin-right: auto;
		grid-template-columns: auto;
	}

	#halfsize{
		height: 500px;
	}
	.collections-row h3{
		padding-top: 1%;
		padding-bottom: 5%;
		font-size: 25px;
	}

	.cftextbox p{
		line-height: 2.5;
	}


	.carousel-caption2 p{
		font-size: 14px;
		font-weight: 400;
	}
	.carousel-caption2 h3{
		font-size: 35px;
		font-weight: 400;
	}

	.fspine-wide{
		display:none !important;
	}

	.fspine-mobile{
		display:block;
	}
	
}
	  
@media screen and (min-width:767px){
	.fspine-mobile{
		display:none;
	}
}

/*max-width:767px*/

/* @media screen and (min-width:767px){

#fspine{
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)), url(assets/images/portfolio/fspine.jpg); background-size: cover;
}
} */

@media screen and (max-width: 660px){
	.collections-row{
		width: 640px;
		height: 970px;
		margin-left: auto;
    	margin-right: auto;
	}

	#halfsize{
		height: 485px;
	}
	.collections-row h3{font-size: 22px;}


	.carousel-caption{
		padding-bottom:0px;

	}
	.Slides h3{
		font-size: 22px;
	}
	.Slides p{
		font-size:12px;
		height: 100%;
	}

	.carousel-caption2 p{
		font-size: 12px;
		font-weight: 400;
	}
	.carousel-caption2 h3{
		font-size: 30px;
		font-weight: 400;
	}

}/*max-width:660px*/

@media screen and (max-width: 640px){
	.collections-row{
		width: 580px;
		height: 878px;
		margin-left: auto;
    	margin-right: auto;
	}
	#halfsize{
		height: 439px;
	}

}/*max-width:640px*/

@media screen and (max-width: 580px){
	.collections-row{
		width: 540px;
		height: 818px;
		margin-left: auto;
    	margin-right: auto;
	}

	#halfsize{
		height: 409px;
	}
	.collections-row h3{font-size: 18px;}

	.cftextbox p{
		line-height: 2.2;
	}
	.carousel-caption2 p{
		font-size: 11px;
		font-weight: 400;
	}
	.carousel-caption2 h3{
		font-size: 27px;
		font-weight: 400;
	}

}/*max-width:580px*/

@media screen and (max-width: 540px){
	.subscribe-title h2 {font-size: 24px;}
	.collections-row{
		width: 480px;
		height: 729px;
		margin-left: auto;
    	margin-right: auto;
	}

	.carousel-caption2 p{
		font-size: 10px;
		font-weight: 400;
	}
	.carousel-caption2 h3{
		font-size: 25px;
		font-weight: 400;
	}
}/*max-width:540px*/

@media screen and (max-width: 480px){
	.collections-row{
		width: 400px;
		height: 606px;
		margin-left: auto;
    	margin-right: auto;
	}

	#halfsize{
		height: 303px;
	}
	.collections-row h3{font-size: 14px;}

	.cftextbox p{
		line-height: 2;
		font-size: 15px;
	}

	.carousel-caption2 p{
		font-size: 8px;
		font-weight: 400;
	}
	.carousel-caption2 h3{
		font-size: 20px;
		font-weight: 400;
	}
}/*max-width:480px*/

@media screen and (max-width: 400px){
	.col-sm-5{
		max-width: 96%;
	}
	.collections-row{
		width: 350px;
		height: 530px;
		margin-left: auto;
    	margin-right: auto;
	}
	#halfsize{
		height: 265px;
	}

	.cftextbox p{
		line-height: 2.2;
	}
	.designcolumn{
		max-width: 100%;
		margin-left: 15px;
        margin-right: 15px;
	}


	.carousel-caption2 p{
		font-size: 7px;
		font-weight: 400;
	}
	.carousel-caption2 h3{
		font-size: 18px;
		font-weight: 400;
	}
}/*max-width:400px*/

@media screen and (max-width:350px){
	.collections-row{
		width: 320px;
		height: 484px;
		margin-left: auto;
    	margin-right: auto;
	}
	#halfsize{
		height: 242px;
	}

	.carousel-caption2 p{
		font-size: 7px;
		font-weight: 400;
	}
	.carousel-caption2 h3{
		font-size: 16px;
		font-weight: 400;
	}
}/*max-width:350px*/

@media screen and  (max-width: 320px){
	
}/*max-width:320px*/

@media screen and (min-width: 1920px){
	nav.navbar.bootsnav.navbar-fixed {
		
		width: 1920px;
	}

	.collections-row{height: 606px}
	#CollectionRows{width:1632px}
	/* #halfsize{
		height: 303px;
	} */
}

@media screen and (min-width: 1660px){
	

	.collections-row{
		height: 606px;
		
	}
	/* #halfsize{
		height: 303px;
	} */

	.collections-row h3{

		padding-top: 6px;
        padding-bottom: 2%;
		
	}
	#CollectionRows{width:1632px}

	
}
@media screen and (max-width: 1660px){
	

	

	/* .collections-row h3{
		padding-top: 0%;
		padding-bottom: 5%;
	} */
	

	
}
